<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WS_REST_Cliente_Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletDocente</display-name>
    <servlet-name>ServletDocente</servlet-name>
    <servlet-class>com.cibertec.action.ServletDocente</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletCiudadano</display-name>
    <servlet-name>ServletCiudadano</servlet-name>
    <servlet-class>com.cibertec.action.ServletCiudadano</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletSintoma</display-name>
    <servlet-name>ServletSintoma</servlet-name>
    <servlet-class>com.cibertec.action.ServletSintoma</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletUsuario</display-name>
    <servlet-name>ServletUsuario</servlet-name>
    <servlet-class>com.cibertec.action.ServletUsuario</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletEstado</display-name>
    <servlet-name>ServletEstado</servlet-name>
    <servlet-class>com.cibertec.action.ServletEstado</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletDepartamento</display-name>
    <servlet-name>ServletDepartamento</servlet-name>
    <servlet-class>com.cibertec.action.ServletDepartamento</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ServletUbigeo</display-name>
    <servlet-name>ServletUbigeo</servlet-name>
    <servlet-class>com.cibertec.action.ServletUbigeo</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ServletDocente</servlet-name>
    <url-pattern>/ServletDocente</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletCiudadano</servlet-name>
    <url-pattern>/ServletCiudadano</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletSintoma</servlet-name>
    <url-pattern>/ServletSintoma</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletUsuario</servlet-name>
    <url-pattern>/ServletUsuario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletEstado</servlet-name>
    <url-pattern>/ServletEstado</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDepartamento</servlet-name>
    <url-pattern>/ServletDepartamento</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletUbigeo</servlet-name>
    <url-pattern>/ServletUbigeo</url-pattern>
  </servlet-mapping>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/error.jsp</location>
  </error-page>
</web-app>